@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer utilities {
  .bg-grid {
    background-color: black;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}
@layer components {
  .vignette::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.5) 85%,
      rgba(0, 0, 0, 0.8) 100%
    );
    z-index: 1;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  scrollbar-width: none;
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
